[Unit]
Description=Init BMC MAC address for NIC eth0 and eth1 from eeprom
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
Wants=mapper-wait@-xyz-openbmc_project-network-eth0.service
After=mapper-wait@-xyz-openbmc_project-network-eth0.service
Wants=mapper-wait@-xyz-openbmc_project-network-eth1.service
After=mapper-wait@-xyz-openbmc_project-network-eth1.service

[Service]
ExecStart=/usr/bin/first-boot-set-mac.sh
Type=oneshot
RemainAfterExit=Yes

[Install]
WantedBy=multi-user.target
